<!DOCTYPE html>
<html>
<!--to je komentar-->
<head>
    <style>

    #glava {
    background-color: lightblue;
    }
    #noga { background-color: green;
    }
</style>
</head>
<body>
<h1>

</h1>

<div id="glava">
    <a href="/">Prva stran </a>
    <a href="/kontakt">Kontakt </a>
    <a href="cv">CV </a>
    <a href="/skrito-stevilo">Skrito stevilo</a>
    <a href="/profil">Moj profil</a>
    <a href="/uporabniki">Uporabniki</a>
</div>

<!--tukaj se nahaja html koda podstani -->
    {% block vsebina %}
    {% endblock %}


<div id="noga"> to je noga </div>

</body>
